
    <link rel="stylesheet" href="/css/about.css" />
    <header class="about-content">
      <div class="heading">
        <h1>About Us</h1>
      </div>
    </header>

    <section class="main">
      <div class="cta">
        <h2>
          <span class="fline"
            >Welcome to Generative AI, where innovation meets creativity in the
            world of artificial intelligence. Our mission is to harness the
            power of AI to create cutting-edge solutions that drive efficiency,
            unlock new possibilities, and transform industries.</span
          >

          At Generative AI, we specialize in developing AI-driven products and
          services that are designed to simplify complex challenges and fuel
          growth for businesses. From machine learning models to generative
          algorithms, we blend advanced technology with visionary thinking to
          craft intelligent systems that evolve and adapt with your needs.
        </h2>
      </div>
      <div class="about-img">
        <!-- <h2>Hello</h2> -->
        <img src="/css/about-us.jpg" alt="" />
      </div>
    </section>
    <script src="../main.js"></script>
  </body>
</html>
