<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thankyou</title>
    <link rel="stylesheet" href="/css/signUpThanky.css" />
   
    
  </head>
 
  <body>
    <header class="thanks">
      <div class="cta2"></div>
      
    </header>

    <script src="main.js"></script>
  </body>
</html>
